.loginView {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.provider {
    border: none;
    width: 250px;
    padding: 15px 0;
    color: white;
    background-color: rgb(40, 97, 202);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}